.text-area .content {
  /* Set the background image for the content region */
  -fx-background-image: url("google_gemini.png");
  -fx-background-position: center;
  -fx-background-size: 15%;
  -fx-background-repeat: no-repeat;
}
